main .description {
	margin: 0 auto;
	padding: 60px 0;
	width: 40vw;
}

main .boxes {
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}

main h3 {
	margin: 0;
	font-size: 2em;
	font-weight: normal;
}

main section {
	box-sizing: border-box;
	padding: 1rem;
	width: 50%;
}

footer {
	text-align: center;
	border-top: 1px solid #eeeeee;
	padding: 2em;
}

footer a,
footer a:hover,
footer a:visited {
	font-size: 16px;
	color: #bbbbbb;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
